ul {
    list-style: none;
}
.card-list {
    display: flex;
    justify-content: left;
}
.card-list h3 {
    margin-left: 8px;
    margin-top: 2px;
}
.wt-messaage {
    background-color: lightgrey;
    color: black;
}
